<p>section works!</p>
<label for="">Entrer une section</label>
<br>
<input [(ngModel)]="nameSection">
<br>
<button (click)="createSection()">Creer une section</button>
<p *ngIf="success" class="alert-success">Section creer !</p>

<BR>
<label for="">Selectionner une section</label>
<input [(ngModel)]="searchSectionName">

<p>Liste des Sections</p>
<select [(ngModel)]="listSection">
  <option [value]="section.id_section"
          *ngFor="let section of listSection | filterSectionPipe:'name_section':searchSectionName">{{section.name_section}}</option>
</select>



